.div_TitleBracelets{
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px  0px; 
    width: 100%;
    margin: 15px auto;
}
@import url('https://fonts.googleapis.com/css?family=ABeeZee');

.div_TitleBracelets_head{
    font-family: ABeeZee, sans-serif;
    text-align: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
    margin: 5% auto;
}

@import url('https://fonts.googleapis.com/css?family=Allan');


.div_TitleBracelets_text{
    font-family: Allan, cursive;
    text-transform: capitalize;
    text-align: center;
    font-size: 20px;
    color:white;
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
    width: 50%;
    margin: auto;
}


.div_TitleBracelets_link{
 color: white;
 padding: 15px 20px;
 border: solid black 2px;
 text-decoration: none;
 margin: 10%;
}

.div_TitleBracelets_link:hover{
    background-color: rgba(24, 25, 26, 0.5);
}


@media(max-width:767px){
	.div_TitleBracelets_text{
        
        width: 90%;
        
    }
}